.task-list {
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
}

.add-task {
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.add-task-btn {
  padding: 10px 20px;
  background-color: #68b684;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tasks {
  list-style: none;
  padding: 0;
}

.tasks li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

/* Completed tasks */
.tasks li.completed {
  text-decoration: line-through;
  color: #888;
}

/* Important task marker */
.important-task {
  margin-left: auto;
  color: red;
}

/* Button to mark/unmark importance */
.important-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ffcc00;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}

/* Delete button */
.delete-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}
.task-list {
  width: 200px;
}
.edit-btn,
.save-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
}





/* Add to your TaskList.css or appropriate CSS file */
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.favorite-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px; /* Adjust size as needed */
}
